html {
	font-family: 'PT Sans', sans-serif;
}

body {
	background-color: #f1f4f6;
}

.userForm {
/*	height: 75vh;*/
	box-shadow: 15px 15px 45px 0px rgba(46,61,73,0.1);
	border-radius: 0.8rem;
	margin-top: 1%;
	
	padding: 5% 5% 5% 5%;

}